  <div id="simpleGrowModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="container">
      <h1 id="modalSimpleGrow-title-t" class="trans">How to grow Microgreens</h1>
      <p id="modalSimpleGrow-desc-t" class="trans">Meet three people who could benefit greatly from incorporating microgreens into their diet:</p>

      <div class="row-modal-simplegrow">
        <div class="col-md-6">
          <h2 id="modalSimpleGrow-seeds-t" class="trans">Seeds</h2>
          <p id="modalSimpleGrow-seeds" class="trans">
            Choose your seeds wisely. Consider the variety of seeds available and choose those that you like or that are good for your health.
          </p>
        </div>
        <div class="col-md-6">
          <div class="modal-img-box">
          <img src="images/modalSimpleGrow-seeds.png" alt="Seeds">
          </div>
        </div>
      </div>

      <div class="row-modal-simplegrow">
        <div class="col-md-6">
          <div class="modal-img-box">
            <img src="images/modalSimpleGrow-medium.png" alt="Medium">
          </div>
        </div>
        <div class="col-md-6">
          <h2 id="modalSimpleGrow-medium-t" class="trans">Medium</h2>
          <p id="modalSimpleGrow-medium" class="trans">
            Prepare the growing medium. You can use soil or a growing mat as the growing medium. Make sure the medium is moist, but not too wet. Spread the seeds evenly on the surface, making sure that they are not too close together.
          </p>
        </div>
      </div>

      <div class="row-modal-simplegrow">
        <div class="col-md-6">
          <h2 id="modalSimpleGrow-germination-t" class="trans">Germination</h2>
          <p id="modalSimpleGrow-germination" class="trans">
            Germinate the seeds. Cover the seeds with another layer of growing mat or paper towels, and then place a weight on top of the mat or paper towels to ensure good seed-to-soil contact. Keep the seeds in a dark place for a few days to germinate.
          </p>
        </div>
        <div class="col-md-6">
          <div class="modal-img-box">
            <img src="images/modalSimpleGrow-germination.png" alt="Germination">
          </div>  
        </div>
      </div>
      <div class="row-modal-simplegrow">
        <div class="col-md-6">
          <div class="modal-img-box">
            <img src="images/modalSimpleGrow-light.png" alt="Light">
          </div>
        </div>
        <div class="col-md-6">
          <h2 id="modalSimpleGrow-light-t" class="trans">Light</h2>
          <p id="modalSimpleGrow-light" class="trans">
            Provide light. After the seeds have germinated, expose the microgreens to <b>light</b>. You can use natural light or artificial light for this purpose. Place the microgreens in a warm and bright area, and water them regularly to keep them moist. Try to water them from the bottom to prevent mold.
          </p>
        </div>
      </div>

      <div class="row-modal-simplegrow">
        <div class="col-md-6">
          <h2 id="modalSimpleGrow-harvest-t" class="trans">Harvest</h2>
          <p id="modalSimpleGrow-harvest" class="trans">
            Harvest and enjoy. After a few days of exposure to light, the microgreens should be ready for harvest. Cut them off at the base and rinse them in cold water. Pat them dry and enjoy them in a salad, sandwich, or any other dish you like.
          </p>
        </div>
        <div class="col-md-6">
          <div class="modal-img-box">
            <img src="images/modalSimpleGrow-harvest.png" alt="Harvest">
          </div>  
        </div>
      </div>
 </div>
</div>
</div>