  <div id="5ReasonsModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="container">
      <h1>The Power of Microgreens</h1>
      <p>Meet three people who could benefit greatly from incorporating microgreens into their diet:</p>

      <div class="row">
        <div class="col-md-6">
          <h2>Jimmy</h2>
          <p id="jimmyStory" class="trans">
            Jimmy is a 30-year-old graphic designer who spends most of her day sitting at a desk. <br>He often feels lethargic and has trouble concentrating.<br> Jimmy knows he needs to eat more vegetables, but he doesn't like the taste of most greens.<br> Microgreens are a great solution for Jimmy, as <b>they are small and easy to add to a variety of dishes</b>.
          </p>
        </div>
        <div class="col-md-6">
          <div class="modal-img-box">
          <img src="images/jimmy.webp" alt="Jimmy">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Javier</h2>
          <p id="javierStory" class="trans">
            Javier is a 46-year-old construction worker who is always on the go.<br> He often skips meals or grabs fast food on his way to a job site.<br> Javier knows this is not a healthy way to eat, but he feels like he doesn't have time to prepare healthy meals. <br><b>Microgreens are a perfect solution for Javier</b>, as they are quick and easy to grow and can be added to sandwiches or salads for a quick and healthy meal on the go.
          </p>
        </div>
        <div class="col-md-6">
          <div class="modal-img-box">
            <img src="images/javier.webp" alt="Javier">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Maya</h2>
          <p id="mayaStory" class="trans">
            Paya is a 60-year-old retiree who has struggled with high blood pressure and cholesterol.<br> She knows she needs to eat a healthier diet, but she finds it hard to give up her favorite foods. <br>Microgreens can help Maya <b>eat healthier without sacrificing taste.</b><br> Microgreens are packed with fiber, which can help lower cholesterol and blood pressure.
          </p>
        </div>
        <div class="col-md-6">
          <div class="modal-img-box">
            <img src="images/maya.webp" alt="Maya">
          </div>  
        </div>
      </div>
 </div>
</div>
</div>