<!-- why section -->

<section class="why_section layout_padding" id="chemicals">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="detail-box">
          <div class="heading_container">
            <h1 id="chemicalsTitle" class="trans"></h1>
          </div>
          <p id="chemicalsIntro" class="trans"></p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="modal-img-box-plant-comp">
          <img src="images/microResearchWheel.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="detail-box">
          <p id="chemicalsSubstances" class="trans"></p>
        </div>
        <div class="detail-box">
          <h1 id="studies" class="trans"></h1>
        </div>
        <div class="detail-box" id="vitamins">
          <h2 id="vitaminsStudy" class="trans"></h2>
        </div>
        <div class="detail-box">
          <p id="vita4MicroDescription" class="trans"></p>
        </div>
        <figure>
          <div class="img-box-full">
            <img src="images/vita4Micro.webp" alt="" />
            <figcaption id="vita4MicroCaption" class="trans"></figcaption>
          </div>
        </figure>
        <div class="detail-box">
          <p id="vita4MicroGlobalDescription" class="trans"></p>
        </div>
        <figure>
          <div class="img-box-full">
            <img src="images/vita4MicroGlobal.webp" alt="" />
            <figcaption id="vita4MicroCaption" class="trans"></figcaption>
          </div>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="detail-box" id="minerals">
          <h2 id="mineralsStudy" class="trans"></h2>
        </div>
        <div class="detail-box">
          <p id="mineralsDescription" class="trans"></p>
        </div>
        <div class="detail-box">
          <p id="minerals9MicroDescription" class="trans"></p>
        </div>
        <figure>
          <div class="img-box-full">
            <img src="images/minerals9Micro.webp" alt="" />
            <figcaption id="minerals9MicroCaption" class="trans"></figcaption>
          </div>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p id="minerals9MicroGlobalDescription" class="trans"></p>
        <figure>
          <div class="img-box-full">
            <img src="images/minerals9MicroGlobal.webp" alt="" />
            <figcaption id="minerals9MicroGlobalCaption" class="trans"></figcaption>
          </div>
        </figure>
      </div>
      <div>
        <p id="studiesConclusions" class="trans"></p>
      </div>
    </div>
  </div>
</section>

<!-- end why section vita4Micro.webp-->
