  <!-- book section -->
  <!--
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2 id="contactUs" class="trans">
          Contact us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" />
              </div>
              <div class="bigTextarea">
                <textarea  placeholder="Your message"></textarea>
              </div>
              <div class="btn_box">
                <div class="g-recaptcha" data-sitekey="6LeV-uglAAAAAG0y8347lB_1n4DyQcOVeokGfQnE" data-theme="dark"></div>
                <br/>
                <button id="sendContactInfo" class="trans">
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>
-->
  <!-- end book section -->

