
<!-- footer section -->
    <footer class="footer_section">
      
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-col">
            <div class="footer_contact">
              <h4>Contact Us</h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span> Location: <i class="flag-icon flag-icon-it"></i> </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span> Call: ... please write an email instead </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span> info4microgreens@gmail.com </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <div class="footer_detail">
              <a href="" class="footer-logo"> Microgreens </a>
              <p id="whoWeAre" class="trans">
                Necessary, making this the first true generator on the Internet. It uses a
                dictionary of over 200 Latin words, combined with
              </p>
              <div class="footer_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <h4>Opening Hours</h4>
            <p>Everyday</p>
            <p id="openingHours" class="trans">Sometimes we are open, sometimes we sleep</p>
          </div>
        </div>
        <div class="footer-info">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://infogreens.com/">Infogreens</a><br /><br />
            &copy; <span id="displayYear"></span> Distributed By
            <a href="https://infogreens.com/" target="_blank">Infogreens.com</a>
          </p>
        </div>
      </div>
     
    </footer>
    <!-- footer section -->
    <%- include('partials/modal5Reasons') %>
    <%- include('partials/modalSinglePlant') %>    
