<body>
  <div class="hero_area">
    <div class="bg-box">
      <img src="images/m3.webp" alt="" />
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div id="navbar">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" data-target="#">
              <span> MICROGREENS </span>
            </a>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" data-target="#home">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#why">Why <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#what">What</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#plants">Plants</a>
                </li>
                
                <li class="nav-item dropdown" data-bs-toggle="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Health studies
                  </a>
                  <ul class="dropdown-menu dropdown-health" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item nav-link" data-target="#chemicals" href="#">Generic Information</a></li>
                    <li><a class="dropdown-item nav-link" data-target="#vitamins" href="#">Vitamins</a></li>
                    <li><a class="dropdown-item nav-link" data-target="#minerals" href="#">Minerals</a></li>
                  </ul>
                </li>
              
              </ul>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="language choice">
                  <span class="selected-flag"></span>
                </button>
                <div class="dropdown-menu dropdown-flag" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" data-value="it"><i class="flag-icon flag-icon-it"></i> Italian</a>
                  <a class="dropdown-item" href="#" data-value="en"><i class="flag-icon flag-icon-gb"></i> English</a>
                </div>
                <select id="language-select" name="language" style="display:none;">
                  <option value="it">Italiano</option>
                  <option value="en">English</option>
                </select>
              </div>
              <div class="user_option">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                <form class="form-inline">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit" title="form submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <!--<a href="" class="order_online"> Order Online </a>-->
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->

    <!--    
  </body>
</html>
-->

