<body>
  <div class="hero_area">
    <div class="bg-box">
      <img src="images/m3.png" alt="" />
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div id="navbar">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/home">
              <span> MICROGREENS </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" data-target="#home">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#why"
                    >Why <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#what">What</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#plants">Plants</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#chemicals">Health studies</a>
                </li>
              </ul>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary" id="btn-italian">
                  <i class="flag-icon flag-icon-it"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary" id="btn-english">
                  <i class="flag-icon flag-icon-gb"></i>
                </button>
              </div>
              <div class="user_option">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                <form class="form-inline">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="" class="order_online"> Order Online </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->

    <!--    
  </body>
</html>
-->

