<!-- slider section -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JTMJM42JVZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JTMJM42JVZ');
</script>
<section class="slider_section" id="home">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel" data-interval="10000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1 id="home1Title" class="trans"></h1>
                <p id="home1" class="trans"></p>
                <!--
                <div class="btn-box">
                  <a href="#" class="btn1" id="orderBtn"> Order Now </a>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1 id="home2Title" class="trans"></h1>
                <p id="home2" class="trans"></p>
                <div class="btn-box">
                  <a href="" class="btn1"> Order Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1 id="home3Title" class="trans"></h1>
                <p id="home3" class="trans"></p>
                <div class="btn-box">
                  <a href="" class="btn1"> Order Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>
</section>
</div>
<!-- end slider section -->
