<!-- plants section -->

<section class="plants_section layout_padding" id="plants">
  <div class="container">
    <div class="heading_container heading_center">
      <h2 id="some-plants-types" class="trans">Main types</h2>
    </div>
    <!--
        <ul class="filters_menu">
          <li class="active" data-filter="*">All</li>
          <li data-filter=".burger">Burger</li>
          <li data-filter=".pizza">Pizza</li>
          <li data-filter=".pasta">Pasta</li>
          <li data-filter=".fries">Fries</li>
        </ul>
-->
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-broccoli-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Broccoli</h5>
                <p id="broccoli-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$20</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-rocket-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Rocket</h5>
                <p id="rocket-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$15</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-leeks-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Leeks</h5>
                <p id="leek-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$17</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-mustard-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Mustard</h5>
                <p id="mustard-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$18</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all fries">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-pea-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Pea</h5>
                <p id="pea-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$10</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-redradish-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Red Radish</h5>
                <p id="red-radish-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$15</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-sunflower-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Sunflower</h5>
                <p id="sunflower-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$12</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-kale-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Kale</h5>
                <p id="kale-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$14</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="images/plant-cilantro-bg.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Cilantro</h5>
                <p id="cilantro-short" class="trans">
                  Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                  voluptatem repellendus sed eaque
                </p>
                <div class="options">
                  <h6>$10</h6>
                  <a href=""> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div>
      <p id="plants-comment" class="trans"></p>
    </div>
    <div class="btn-box">
      <a href=""> View More </a>
    </div>
  </div>
</section>

<!-- end plants section -->

<!--

  Xiao, Zhenlei & Codling, Eton & Luo, Yaguang & Nou, Xiangwu & Lester, Gene & Wang, Qin. (2016). Microgreens of Brassicaceae: Mineral composition and content of 30 varieties. Journal of Food Composition and Analysis. 49. 87-93. 10.1016/j.jfca.2016.04.006. 
-->
