    <!-- what section -->

    <section class="why_section layout_padding" id="what">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container what1">
                <h1 id="what1Title" class="trans"></h1>
              </div>
              <p id="what1" class="trans"></p>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/several-microgreens.webp" alt="" />
            </div>
          </div>
        </div>

        <div class="row">
            
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container what2">
                <h1 id="what2Title" class="trans"></h1>
              </div>
              <p id="what2" class="trans"></p>
              <a href="#" class="btn1 simpleGrowBtn"> More info </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/grow-racks.webp" alt="" />
            </div>
          </div>
          

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container what3">
                <h1 id="what3Title" class="trans"></h1>
              </div>
              <p id="what3" class="trans"></p>
              
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/difference-with-sprouts-and-plants.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>