    
    <!-- why section -->

    <section class="why_section layout_padding" id="why">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/micro-table.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h1 id="why1Title" class="trans"></h1>
              </div>
              <p id="why1" class="trans"></p>
              <a href="#" class="btn1 5ReasonsBtn"> 3 stories </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end why section -->
